In [1]:
import pandas as pd

pd.set_option("display.max_columns", 30)
import os
import glob
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("darkgrid")

DATA_PATH = os.path.join(os.path.abspath(""), "../data")
# Load data
review_data_paths = glob.glob(os.path.join(DATA_PATH, "review", "*.csv"))

In [2]:
diner = pd.read_csv(os.path.join(DATA_PATH, "diner/diner_df_20241204_yamyam.csv"))

review = pd.DataFrame()
for review_data_path in review_data_paths:
    review = pd.concat([review, pd.read_csv(review_data_path)], axis=0)

review["reviewer_review_cnt"] = review["reviewer_review_cnt"].apply(lambda x: np.int32(str(x).replace(",", "")))
review = pd.merge(review, diner, on="diner_idx", how="inner")

/tmp/ipykernel_22371/122589569.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  review = pd.concat([review, pd.read_csv(review_data_path)], axis=0)

In [3]:
review.head()

,review_id,reviewer_id,reviewer_review_cnt,reviewer_avg,reviewer_review_score,reviewer_review,reviewer_review_date,reviewer_user_name,badge_grade,badge_level,diner_idx,reviewer_collected_review_cnt,diner_name,diner_category_large,diner_category_middle,...,diner_review_tags,diner_address,diner_phone,diner_lat,diner_lon,diner_url,diner_open_time,diner_address_constituency,real_good_review_cnt,real_bad_review_cnt,all_review_cnt,real_good_review_percent,real_bad_review_percent,combined_score,rank
0,11004486,1332225011,93,3.8,5.0,똠양꿍은 그저 그랬으나 팟타이가 미쳤다\n꼭와라,2024.09.14.,고독한 평론가 ~우감자~,골드 배지,31,1110773157,79,드렁킨타이,음식점,아시아음식,...,"[('맛', 7), ('분위기', 5), ('가성비', 4), ('친절', 3)]",서울 중구 신당동 140-15,070-7782-8282,37.565525,127.020587,http://place.map.kakao.com/1110773157,매일 11:00 ~ 24:00,서울 중구,4.0,2.0,30.0,13.333333,6.666667,3.188067,6599.0
1,10515797,2330130384,1,5.0,5.0,팟타이랑 커리 먹었는데 정말 맛있었어요. 태국에 온 것 같았습니당 재방문의사 많아요...,2024.07.09.,이준,브론즈 배지,3,1110773157,2,드렁킨타이,음식점,아시아음식,...,"[('맛', 7), ('분위기', 5), ('가성비', 4), ('친절', 3)]",서울 중구 신당동 140-15,070-7782-8282,37.565525,127.020587,http://place.map.kakao.com/1110773157,매일 11:00 ~ 24:00,서울 중구,4.0,2.0,30.0,13.333333,6.666667,3.188067,6599.0
2,10500798,1154352875,130,4.1,5.0,존맛 또가고싶다…..,2024.07.07.,요맘때,골드 배지,35,1110773157,58,드렁킨타이,음식점,아시아음식,...,"[('맛', 7), ('분위기', 5), ('가성비', 4), ('친절', 3)]",서울 중구 신당동 140-15,070-7782-8282,37.565525,127.020587,http://place.map.kakao.com/1110773157,매일 11:00 ~ 24:00,서울 중구,4.0,2.0,30.0,13.333333,6.666667,3.188067,6599.0
3,10491917,384628434,232,3.0,5.0,"들어갔을 때 첫인상은, 오! 완전 태국 노상에 있는 그런 식당이랑 느낌 똑같네? 라...",2024.07.06.,-Bluehole-,골드 배지,36,1110773157,96,드렁킨타이,음식점,아시아음식,...,"[('맛', 7), ('분위기', 5), ('가성비', 4), ('친절', 3)]",서울 중구 신당동 140-15,070-7782-8282,37.565525,127.020587,http://place.map.kakao.com/1110773157,매일 11:00 ~ 24:00,서울 중구,4.0,2.0,30.0,13.333333,6.666667,3.188067,6599.0
4,10015323,747424582,457,3.4,3.0,팟타이맛있고 양많고 싸진않음. \n오징어채는 추가하지마세요. 너무달아요,2024.04.29.,맛없고불친절판독기,골드 배지,58,1110773157,151,드렁킨타이,음식점,아시아음식,...,"[('맛', 7), ('분위기', 5), ('가성비', 4), ('친절', 3)]",서울 중구 신당동 140-15,070-7782-8282,37.565525,127.020587,http://place.map.kakao.com/1110773157,매일 11:00 ~ 24:00,서울 중구,4.0,2.0,30.0,13.333333,6.666667,3.188067,6599.0

In [4]:
review = review.dropna(subset=["reviewer_review"])

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

stopwords = ["이", "그", "저", "그리고", "하지만", "은", "는", "이", "가", "을", "를"]

vectorizer = TfidfVectorizer(max_features=10, stop_words=stopwords)
tfidf_matrix = vectorizer.fit_transform(review["reviewer_review"])

In [6]:
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=[f"tfidf_{i}" for i in range(10)])

In [7]:
tfidf_df.shape

(1425722, 10)

In [8]:
review.shape

(1425722, 39)

In [9]:
tfidf_df.head()

,tfidf_0,tfidf_1,tfidf_2,tfidf_3,tfidf_4,tfidf_5,tfidf_6,tfidf_7,tfidf_8,tfidf_9
0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.000000
2,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.80183,0.348309,0.0,0.0,0.0,0.0,0.0,0.0,0.485541
4,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [10]:
pd.concat([review, tfidf_df], axis=1)

,review_id,reviewer_id,reviewer_review_cnt,reviewer_avg,reviewer_review_score,reviewer_review,reviewer_review_date,reviewer_user_name,badge_grade,badge_level,diner_idx,reviewer_collected_review_cnt,diner_name,diner_category_large,diner_category_middle,...,all_review_cnt,real_good_review_percent,real_bad_review_percent,combined_score,rank,tfidf_0,tfidf_1,tfidf_2,tfidf_3,tfidf_4,tfidf_5,tfidf_6,tfidf_7,tfidf_8,tfidf_9
0,11004486.0,1.332225e+09,93.0,3.8,5.0,똠양꿍은 그저 그랬으나 팟타이가 미쳤다\n꼭와라,2024.09.14.,고독한 평론가 ~우감자~,골드 배지,31.0,1.110773e+09,79.0,드렁킨타이,음식점,아시아음식,...,30.0,13.333333,6.666667,3.188067,6599.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
1,10515797.0,2.330130e+09,1.0,5.0,5.0,팟타이랑 커리 먹었는데 정말 맛있었어요. 태국에 온 것 같았습니당 재방문의사 많아요...,2024.07.09.,이준,브론즈 배지,3.0,1.110773e+09,2.0,드렁킨타이,음식점,아시아음식,...,30.0,13.333333,6.666667,3.188067,6599.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000
2,10500798.0,1.154353e+09,130.0,4.1,5.0,존맛 또가고싶다…..,2024.07.07.,요맘때,골드 배지,35.0,1.110773e+09,58.0,드렁킨타이,음식점,아시아음식,...,30.0,13.333333,6.666667,3.188067,6599.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
3,10491917.0,3.846284e+08,232.0,3.0,5.0,"들어갔을 때 첫인상은, 오! 완전 태국 노상에 있는 그런 식당이랑 느낌 똑같네? 라...",2024.07.06.,-Bluehole-,골드 배지,36.0,1.110773e+09,96.0,드렁킨타이,음식점,아시아음식,...,30.0,13.333333,6.666667,3.188067,6599.0,0.0,0.80183,0.348309,0.0,0.0,0.0,0.000000,0.0,0.000000,0.485541
4,10015323.0,7.474246e+08,457.0,3.4,3.0,팟타이맛있고 양많고 싸진않음. \n오징어채는 추가하지마세요. 너무달아요,2024.04.29.,맛없고불친절판독기,골드 배지,58.0,1.110773e+09,151.0,드렁킨타이,음식점,아시아음식,...,30.0,13.333333,6.666667,3.188067,6599.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
1425661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0.000000,0.0,0.0,0.0,0.718302,0.0,0.695732,0.000000
1425668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
1425707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
1425709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000